spring:
  application:
    name: reservation-system

  datasource:
    url: jdbc:postgresql://localhost:5432/reservation_db
    username: user
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    show-sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true